@import "tailwindcss";


:root {
  --mh-pink: #EC4899;      
  --mh-purple-dark: #4a1675;
  --mh-purple: #A855F7;
  --mh-turquoise: #06B6D4;
  --mh-black: #111111;
  --mh-gray: #F3F4F6;
  --mh-background: rgb(26, 11, 51);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
