.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--mh-purple-dark);
    height: 10vh;
    color: white;
    border-bottom: 2px solid white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 24px;
    gap: 10px;
    color: var(--mh-pink);
}

.logoImage {
    width: 40px;
    height: 40px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: var(--mh-pink);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.nav a:hover {
    color: white;  
}